# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Workspaces node_modules (recursive match)
node_modules/

# Next.js build output and cache
.next/
out/

# Sanity Studio build output and CLI cache
.sanity/
dist/

# Testing & Coverage
coverage/
/coverage

# Production builds
build/

# Logs & Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variable files (crucial for security)
.env*
*.local

# Vercel deployments cache
.vercel/

# Misc OS files & SSL certificates
.DS_Store
*.pem

# TypeScript config caches
*.tsbuildinfo
next-env.d.ts
